@model Domain.Entities.Product
@{
    ViewData["Title"] = "Edit";
}

<div class="row offset-2 CardOffset">
    <div class="col-md-10 col-lg-10 p-4 ClCard">

        <!--ALERT MESSAGE-->
        @if (TempData[Utilities.Constants.SessionConstants.Message] != null)
        {
            <div class="row g-3 me-0 ms-0 mt-1">
                <div class="alert alert-warning" role="alert">
                    @TempData[Utilities.Constants.SessionConstants.Message]
                </div>
            </div>
        }

        <div class="card">
            <div class="card-body ps-5 pe-5">

                <!--HEADER-->
                <div class="pagetitle">
                    <h4 class="card-title fs-2 fw-bold mb-0">Product</h4>
                    <p class="mb-1" style="font-size:14px">Fields marked by <span class="text-danger">*</span> are mandatory</p>
                    <hr class="mt-0">
                </div>

                <!--PRODUCT FORM-->
                <form class="row g-1" method="post" asp-action="Edit" asp-controller="Products">
                    <input type="text" asp-for="ProductId" hidden value="@Model.ProductId" />
                    <input asp-for="CreatedBy" type="hidden" />
                    <input asp-for="CreatedIn" type="hidden" />
                    <input asp-for="DateCreated" type="hidden" />
                    <!--CATEGORY-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <select asp-for="CategoryId" class="form-select" asp-items="@ViewBag.Categorys" data-val="true" data-val-required="Required.">
                                <option value="">Select</option>
                            </select>
                            <label class="required" asp-for="CategoryId">Category</label>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>

                    <!--PRODUCT-->
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <input asp-for="ProductName" type="text" class="form-control" data-val="true" data-val-required="Required." data-val-length-max="90" data-val-length-min="2" data-val-length="Product name should be atleast 2 digits.">
                            <label class="required" asp-for="ProductName">Product</label>
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mt-2">
                            <input asp-for="Price" type="text" class="form-control" data-val="true" data-val-required="Required." data-val-length-max="90" data-val-length-min="2" data-val-length="Product Price should be atleast 2 digits.">
                            <label class="required" asp-for="Price">Product</label>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <!--ACTIONS-->
                    <div class="col-12 mt-0 mt-3 text-center">
                        <button class="btn btn-primary btn-lg btn-md btn-sm mx-2" type="submit"><i class="bi bi-check2-circle"></i> Submit</button>
                        <a href="#" onclick="history.go(-1)" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
